body {
    background: #fefefe;
    position: absolute;
}

.mainHeader {
    color: red;
}

.sectionHeader {
    color: #0033cc;
}

p {
    color: darkblue;
}

.link {
    color: blue;
}

.h3-class {
    color: #2d5986;
    padding: 16px;
    border: 3px solid #1133cc;
    border-radius: 30px;
}

.square {
    width: 200px;
    height: 400px;
    background: crimson;
    padding: 10px;
    border: 10px solid red;
    margin: 10px;
    box-sizing: border-box;
}

.footer {
    position: fixed;
    bottom: 10px;
    right: 20px;
}